.fancybox-overlay {
    background-color: rgb(119, 119, 119) !important;
    opacity: 0.7 !important;
    cursor: pointer !important;
    height: 757px !important;
}
.fancybox-wrap {
    top: 50%  !important;
    left: 50%  !important;
    transform: translate(-50%, -50%)  !important;
}

.fancybox-content {
    border-width: 10px !important;
    width: 450px !important;
    height: auto !important;
}

.fancybox-content-style-child {
    width: auto !important;
    height: auto !important;
    overflow: auto !important;
    position: relative !important;
}

.fancybox-close-image{
    width: 30px !important;
    height: 30px !important;
    color: #9e9e9e !important;
    font-size: 12px !important;
    font-family: Tahoma, Arial, sans-serif !important;
    padding: unset !important;
    border: none !important;
}

.btn-save, .btn-delete, .btn-reset {
    width: auto !important;
    height: auto !important;
    color: #FFFFFF !important;
    font-size: 13px !important;
    font-family: Tahoma, Arial, sans-serif !important;
}

.ml-3 {
    margin-left: 3px !important;
}

.invalid-input {
    color: red;
}

.a-create-new {
    width: 150px !important;
    height: 14px !important;
    font-size: 12px !important;
    font-family: Tahoma, Arial, sans-serif !important;
    background: none !important;
    padding: unset !important;
    border: none !important;
    text-align: left !important;
}

.a-letters {
    background: #eee !important;
    border: 1px solid #bdbdbd !important;
    display: block !important;
    width: 24px !important;
    height: 24px !important;
    text-align: center !important;
    font-size: 14px !important;
    font-family: Tahoma, Arial, sans-serif !important;
    line-height: 24px !important;
    font-weight: bold !important;
    color: #f67d34 !important;
    padding: unset !important;
    text-transform: uppercase !important;
}

.active, .a-letters:hover{
    background: #f67d34 !important;
    border-color: #f67d34 !important;
    color: #eee !important;
}

.nav-active {
    color: #f1592a !important;
    background: #fff !important;
    border-color: #ababab !important;
}

.disabled, .disabled:hover {
    color: silver !important;
    background: #ececec !important;
    border-color: #ececec !important;
    cursor: default !important;
}

.pagination {
    padding: 0 10px !important;
    font-family: Tahoma, Arial, sans-serif !important;
    display: block !important;
    color: #f67d34 !important;
    background: none !important;
    padding: unset !important;
    border: none !important;
    margin-right: 10px !important;
}

.pagination:hover, .a-footer:hover, .a-footer-last:hover {
    text-decoration:underline !important;
}

.a-footer {
    width:81px !important;
    height: 13px !important;
    color:#FFFFFF !important;
    font-size: 11px !important;
    font-family: Tahoma, Arial, sans-serif !important;
    background: none !important;
    padding: unset !important;
    border: none !important;
}

.a-footer-last {
    width:66px !important;
    height: 13px !important;
    color:#FFFFFF !important;
    font-size: 11px !important;
    font-family: Tahoma, Arial, sans-serif !important;
    background: none !important;
    padding: unset !important;
    border: none !important;
}

.email-input{
    width: 450px !important;
    height: 28px !important;
}